In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("../../data/spam.csv", encoding="latin")

In [15]:
df = df.filter(["v1", "v2"], axis=1)
df = df.rename(columns={"v1": "is_spam", "v2": "message"})

In [16]:
df["is_spam"] = df["is_spam"].apply(lambda x: 1 if x == "spam" else 0)

In [17]:
df

      is_spam                                            message
0           0  Go until jurong point, crazy.. Available only ...
1           0                      Ok lar... Joking wif u oni...
2           1  Free entry in 2 a wkly comp to win FA Cup fina...
3           0  U dun say so early hor... U c already then say...
4           0  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        1  This is the 2nd time we have tried 2 contact u...
5568        0              Will Ì_ b going to esplanade fr home?
5569        0  Pity, * was in mood for that. So...any other s...
5570        0  The guy did some bitching but I acted like i'd...
5571        0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [19]:
df.groupby("is_spam").count().reset_index()

   is_spam  message
0        0     4825
1        1      747